section.about
	.container
		+title_wrap('About Us','We are added our major Services', 'line')
		ul.about_list
			li.about_item
				.icon.icon_like
				h3.about_header Facebook Marketing
				p.about_desc Lorem Ipsum is simply dummy text of the printing and typesetting industry.  standard dummy text ever

			li.about_item
				.icon.icon_book
				h3.about_header landing pages Creation
				p.about_desc Lorem Ipsum is simply dummy text of the printing and typesetting industry.  standard dummy text ever

			li.about_item
				.icon.icon_message
				h3.about_header Ads management
				p.about_desc Lorem Ipsum is simply dummy text of the printing and typesetting industry.  standard dummy text ever