section.approche
	.container
		+title_wrap('Our Approch', 'Check Our approches step by step ( how we do it )', 'line')


		ul.approche_list
			li.approche_item
				.approche_img_wrap
					img.approche_img(src='../images/step-1.jpg')
					.approche_step step
				.approche_text
					h3.approche_title Step 1 : Heading Here
					p.approche_desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
			li.approche_item
				.approche_img_wrap
					img.approche_img(src='../images/step-2.jpg')
					.approche_step step
				.approche_text
					h3.approche_title Step 2 : Heading Here
					p.approche_desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
			li.approche_item
				.approche_img_wrap
					img.approche_img(src='../images/step-3.jpg')
					.approche_step step
				.approche_text
					h3.approche_title Step 3 : Heading Here
					p.approche_desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
			li.approche_item
				.approche_img_wrap
					img.approche_img(src='../images/step-4.jpg')
					.approche_step step
				.approche_text
					h3.approche_title Step 4 : Heading Here
					p.approche_desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.