.contacts
	a.contact(href="tel:6337 3128")
		i.contact_icon.fas.fa-mobile
		span.contact_text 6337 3128
	a.contact(href="mailto:info@business.co")
		i.contact_icon.contact_icon--email.fas.fa-envelope
		span.contact_text info@business.co
	a.facebook_i(href="facebook.com")
		i.fab.fa-facebook-square