header.header
	.header_top
		.container
			include contact
	.container
		.header_bottom
			.logo: img(src='images/logo.png')

			button.hamburger.hamburger--collapse(type='button')
				span.hamburger-box
					span.hamburger-inner
			include nav
			//.btn_w
			a.button.header_button.button--red(href="#") Free Consultation
