section.work
	.container
		+title_wrap('Our Work', 'We are added our featured works below', 'line')

		ul.work_list
			li.work_item.work_item_name
				h3.work_title Project Name
				p.work_desc Facebook marketing
			li.work_item: img.work_item_img(src='images/work-1.jpg' alt="picture")
			li.work_item.work_item_name
				h3.work_title Project Name
				p.work_desc Landing page
			li.work_item: img.work_item_img(src='images/work-2.jpg' alt="picture")
			li.work_item: img.work_item_img(src='images/work-3.jpg' alt="picture")
			li.work_item.work_item_name
				h3.work_title Project Name
				p.work_desc Landing page
			li.work_item: img.work_item_img(src='images/work-4.jpg' alt="picture")
			li.work_item.work_item_name
				h3.work_title Project Name
				p.work_desc Facebook marketing