doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content="IE-edge")
		meta(name="viewport", content="width=device-width")
		meta(name="SKYPE_TOOLBAR", content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="format-detection", content="telephone=no")
		link(rel="stylesheet", href="css/main.min.css")
		title Business
	body
		include sections/header
		include sections/hero
		include sections/about

		script(src="https://kit.fontawesome.com/cc20b3424f.js" crossorigin="anonymous")