.approche {
	padding: 83px 0 99px 0;
	background-color: #f3f3f3;

	@media (max-width: 768px) {
		padding: 53px 0 50px 0;
	}

	&_list {
		counter-reset: count;
	}

	&_item {
		display: flex;
		margin-bottom: 38px;
		background-color: #fff;
		box-shadow: 0 0 5px #e2e2e2;

		@media (max-width: 670px) {

		}

		&:nth-child(2n) {
			flex-direction: row-reverse;
			text-align: right;

			.approche_step {
				right: auto;
				left: -50px;
			}

			.approche_text {
				padding-right: 90px;
				padding-left: 72px;

				@media (max-width: 768px) {
					padding-left: 52px;
				}

				@media (max-width: 700px) {
					padding: 36px 52px 36px 32px;
				}
			}
		}
	}

	&_img_wrap {
		//flex-shrink: 0;
		position: relative;
		max-width: 339px;
		max-height: 236px;
	}

	&_img {
		display: block;
		width: 100%;
		height: 100%;

		@media (max-width: 600px) {
			display: none;
		}
	}

	&_step {
		@include centerer-y;

		box-sizing: border-box;
		right: -50px;
		width: 101px;
		height: 101px;
		padding-top: 5px;
		font-family: $ff-main-light;
		font-size: 20px;
		line-height: 20.9px;
		text-align: center;
		color: #ffffff;
		border: 2px solid #ffffff;
		border-radius: 5px;
		background-color: #de2b24;

		&:before {
			content: counter(count);
			counter-increment: count;
			display: block;
			font-family: $ff-steps;
			font-size: 50px;
			line-height: 1;
		}

		@media (max-width: 700px) {
			display: none;
		}
	}

	&_text {
		width: 51%;
		padding: 66px 72px 66px 92px;
		background-color: #ffffff;

		@media (max-width: 768px) {
			padding-right: 52px;
		}
		@media (max-width: 700px) {
			padding: 36px 32px 36px 52px;
		}
		@media (max-width: 600px) {
			width: 100%;
		}
	}

	&_title {
		padding-bottom: 8px;
		font-family: $ff-main-bold;
		font-size: 18px;
		color: #424242;
	}

	&_desc {
		font-size: 14px;
		color: #5c5c5c;
		line-height: 22.11px;
	}
}