.header {
	position: relative;

	&_top {
		background-color: #f0f2f4;
		border-bottom: 1px solid #eeeeee;
	}

	&_bottom {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		height: 130px;

		@media (max-width: 631px) {
			flex-direction: column;
			flex-wrap: nowrap;
			padding-top: 20px;
			padding-bottom: 35px;
		}

		.button {
			@media (max-width: 863px) {
				display: block;
				margin: 0 auto;
			}
		}
	}
}

.contacts {
	text-align: right;

	@media (max-width: 631px) {
		text-align: center;
	}
}

.contact {
	display: inline-block;
	padding: 9px 0 8px 12px;
	vertical-align: middle;
	color: #424242;

	&:first-child {
		margin-right: 8px;
		padding-right: 18px;
		border-right: 1px solid #e2e2e2;
	}

	&:hover {
		color: lighten(#424242, 20%);
	}

	&_icon {
		margin-right: 7px;
		font-size: 1.5rem;

		&--email {
			font-size: 1.2rem;
		}
	}
}

.facebook_i {
	display: inline-block;
	margin: 7px 0 0 12px;
	padding: 3px 9px;
	background-color: #1287bf;
	color: #fff;
	border-radius: 3px;
}