.button {
	display: inline-block;
	border-radius: 3px;
	padding: 10px 22px 7px;
	color: #fff;
	text-decoration: none;
	border: none;
	outline: none;

	&--red {
		background-color: #de2b24;
		transition: 0.3s;

		&:hover {
			background-color: lighten(#de2b24, 7%);
		}
	}

	&--yellow {
		background-color: #f8cd53;
		transition: 0.3s;

		&:hover {
			background-color: lighten(#f8cd53, 7%);
		}
	}

	&--text-uppercase {
		padding: 25px 40px;
		font-size: 23px;
		text-transform: uppercase;

		@media (max-width: 700px) {
			padding: 15px 30px;
			font-size: 16px;
		}
	}
}